@use 'partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';



#main-content{
    background-color: bisque;
   color: white;
   .my-card{
    text-align: center;
      a{
        text-decoration: none;
        }
        .my-img-cont{
            width: 70%;
            img{
                width: 100%;
            }
    
        }
        .my-text-cont{
            width: 70%;
        }
        .my-btn{
            width: 70%;
        }
   }
 
}
